.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 10px 0 #121b27;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.winner2{
  position: relative;
  left: 30%;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border:2px solid #121b27;
  border-radius: 50%;
}

.winner1{
  position: relative;
  left: 30%;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border:2px solid #121b27;
  border-radius: 50%;
}
.inside{
  color: black;
  font-size: 1rem;
}
